[Unit]
Description=Create a daily MRDL backup

[Timer]
OnCalendar=daily
Persistent=true
RandomizedDelaySec=30m
Unit=mrdl-backup.service

[Install]
WantedBy=timers.target
