[Unit]
Description=Run MRDL garbage collection daily

[Timer]
OnCalendar=daily
Persistent=true
RandomizedDelaySec=20m
Unit=mrdl-gc.service

[Install]
WantedBy=timers.target
